body {
    background-image: url("../images/pexels-chevanon-302897.jpg");
    background-size: cover;
    margin: 0;
    height: 100%;
}
.header {
    display: flex;
    position: fixed;
    flex-direction: row;
    margin-top: 100px;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.header-text {
    position: relative;
    text-align: center;
    font-size: 50px;
    color: brown;
}
.overlay-close-button {
    display: inline-block;
    position: relative;
    margin-top: 100px;
    right: 20em;
    background: inherit;
    border: none;
}
@keyframes fadein {
    from { height: 0; }
    to { height: 100vh; }
}
#overlay {
    display: none;
}
.open {
    flex-direction: row;
    position: absolute;
    width: 100%;
    animation: fadein 2s forwards normal;
    z-index: 1;
}
.overlay-menu {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: antiquewhite;
}
.overlay-menu div {
    display: inline-block;
    margin-top: 100px;
    text-align: center;
    font-size: 30px;
}
.overlay-menu div a {
    font-size: 50px;
    color: brown;
    text-decoration: none;
}
.overlay-image {
    display: inline-block;
    position: relative;
    width: 50%;
}
.overlay-image img {
    height: 100%;
    width: 100%;
}
.header-menu-button {
    display: inline-block;
    position: relative;
    margin-top: 100px;
    right: 20em;
    background: inherit;
    border: none;
}
.header-menu-button span {
    font-size: 70px;
}
