body {
    margin: 0;
    background-color: saddlebrown;
}
.home-link {
    position: absolute;
    top: 100px;
    left: 250px;
    font-size: 30px;
    background-color: rgba(39 30 30 / 54%);
    color: white;
    padding: 10px;
    text-decoration: none;
}
.shop-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/pexels-nurseryart-373639.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 1000px;
}
.shop-image-text {
    color: white;
    background-color: rgba(39 30 30 / 54%);
    font-size: 30px;
    padding: 10px;
}
.shop-drinks {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    justify-content: center;
}
.shop-drinks div {
    height: 1000px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    width: 50%;
}
.chocolate {
    background-image: url("../images/pexels-alleksana-6463656.jpg");
}
.vanilla {
    background-image: url("../images/pexels-alejandro-aznar-155337093-28525198.jpg");
}
.strawberry {
    background-image: url("../images/pexels-aida-shukuhi-914628252-20205939.jpg");
}
